body {
  background-color: #F3EFCC;


}

hr {
  < !--border style can be set as top border please check top,
  left,
  right,
  and bottom style-->border-style-top: dotted;
  border-style: dotted none none none;

  border-color:  #9D9D9D;
  border-width: 5px;
  width: 7%;


}

h3{

  color : #911F27;
}
h1{

  color: #911F27;
}
